<div class="user-details">
  <h1>About Me</h1>
    <p><span><i class="icon fa fa-glass" aria-hidden="true"></i></span>
      My name is <b>Dongchan Min</b>. I am a Master's student at 
		<a href="https://www.mlai-kaist.com/">Machine Learning and Artificial Intelligence (MLAI) Lab</a> 
    in Korea Advanced Institute of Science and Technology (KAIST), under the supervison of 
    <a href="http://www.sungjuhwang.com/">Prof. Sung Ju Hwang</a>.
  </p>
  <p><span><i class="icon fa fa-graduation-cap" aria-hidden="true"></i></span>
    My research interest lies in Speech, Genertative model, and Meta-learning.
  </p>
  <p><span><i class="icon fa fa-flag" aria-hidden="true"></i></span>
    I finished my B.S degree at KAIST in 2020, majoring in Electronic Engineering & Business Management
  </p>
  <p><span><i class="icon fa fa-heart" aria-hidden="true"></i></span>
    My life motto is...<br>
    <em>Strive for Greatness - <small>LeBron James</small></em><br>
    If you are more interested in me. Then,<br>
    <a href="/assets/DongchanMin_CV.pdf">Read more about my CV</a>
  </p>
</div>
<div>
  <h1>Publications</h1>
  <p>Comming Soon...</p>
</div>
