<div class="user-details">
  <h1>About Me</h1>
    <p>
      <!-- <span><i class="icon fa fa-glass" aria-hidden="true"></i></span> -->
      My name is <b>Dongchan Min</b>. I am a Master's student at 
		  <a href="https://www.mlai-kaist.com/">Machine Learning and Artificial Intelligence (MLAI) Lab</a> 
      in Korea Advanced Institute of Science and Technology (KAIST), under the supervison of 
      <a href="http://www.sungjuhwang.com/">Prof. Sung Ju Hwang</a>.
  </p>
  <p>
    <!-- <span><i class="icon fa fa-graduation-cap" aria-hidden="true"></i></span> -->
    My research interests are mainly focused on developing novel models and algorithms for solving practical problems in the deployment of artificial intelligence systems in a variety of real world applications. I am currently interested in following topics: Multi-modal generative models including the use of computer vision and speech, Few-shot generation and Meta-learning.
  </p>
  <p>
    <!-- <span><i class="icon fa fa-graduation-cap" aria-hidden="true"></i></span> -->
    I finished my B.S degree at KAIST in 2020, majoring in Electronic Engineering & Business Management
  </p>
  <p>
    <!-- <span><i class="icon fa fa-heart" aria-hidden="true"></i></span> -->
    My life motto is...<br>
    <em>Strive for Greatness - <small>LeBron James</small></em><br>
    If you are more interested in me. Then,<br>
    <a href="/assets/DongchanMIN_CV.pdf">Read more about my CV</a>
  </p>
</div>

