<div>
    <h1>Publications</h1>
    <table>
        <tbody>
            <tr class="card">
                <td class="card-image">
                    <img src="../assets/publications/Meta-StyleSpeech.png" alt="Meta-StyleSpeech">
                </td>
                <td class="card-content">
                    <strong>Meta-StyleSpeech : Multi-Speaker Adaptive Text-to-Speech Generation</strong><br>
                    <strong>Dongchan Min</strong>, Dong Bok Lee, Eunho Yang, and Sung Ju Hwang<br>
                    ICML 2021<br>
                    <a href="https://arxiv.org/abs/2106.03153">[paper]</a> <a href="https://stylespeech.github.io/">[project page]</a>
                </td>
            </tr>
            <tr class="card">
                <td class="card-image">
                    <img src="../assets/publications/Meta-GMVAE.jpg" alt="Meta-GMVAE">
                </td>
                <td class="card-content">
                    <strong>Meta-GMVAE: Mixture of Gaussian VAEs for Unsupervised Meta-Learning</strong><br>
                    Dong Bok Lee, <strong>Dongchan Min</strong>, Seanie Lee, and Sung Ju Hwang<br>
                    ICLR 2021<br>
                    <a href="https://openreview.net/pdf?id=wS0UFjsNYjn">[paper]</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>