body {
    margin: 60px auto;
    width: 70%;
    font-size: 100%
}
nav{
  border-bottom: 1px solid #d5d5d5;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2{
  font-size: 2em;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
#header {
}
.head{
  color:black;
}
.head:hover{
  text-decoration: none;
}
#container {
  padding-bottom: 3rem;    /* Footer height */
}
.blurb{
  height:-webkit-fill-available;
  overflow: hidden;
  background-image: url('/assets/images/background.jpg');
  background-position:right bottom;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-origin:content-box;
}
.blurb p{
  width: 55%;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.3em;
  color: #333;
  font-family: 'Raleway', sans-serif;
}
.cv{
  height:-webkit-fill-available;
  background-image: url('/assets/images/spiderbackground.jpg');
  background-position:right bottom;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-origin:content-box;
}
.cv p{
  font-size: 1.3em;
  line-height: 1.5em;
  color: #333;
  font-family: 'Raleway', sans-serif;
}
.blog{
  height:-webkit-fill-available;
  background-image: url('/assets/images/deadpool.jpg');
  background-position:right bottom;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-origin:content-box;
}
.blog_post{
    position: relative;
    width: 60%;
    height: inherit;
}
.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}
.posts li {
    list-style: none;
    margin-bottom: 1em;
}
.posts a{
  text-decoration: none;
  color: #4accec;
}
.pagination{
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 40%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}
