---
layout: default
title: Kevin Min's Blog
pagination:
    enabled: true
    per_page: 2
---

<div class="blog">
  <div class="blog_post">
    <h2>Kevin Min's Blog</h2>
    <ul class="posts">
  		{% for post in paginator.posts %}
  			<li>
          <div style="font-size: 0.6em;">[{{ post.date | date_to_string }}]</div>
          <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </li>
  		{% endfor %}
  	</ul>
    {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}">&laquo; Prev</a>
          {% else %}
              <span>&laquo; Prev</span>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                  <strong>{{ page }}</strong>
              {% elsif page == 1 %}
                  <a href="{{ '/blog/' }}">{{ page }}</a>
              {% else %}
                  <a href="{{ site.paginate_path | prepend: '/blog/' | replace: '//', '/'| replace: ':num', page }}">{{ page }}</a>
              {% endif %}
          {% endfor %}
          {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
          {% else %}
              <span>Next &raquo;</span>
          {% endif %}
      </div>
    {% endif %}
  </div>
</div>
