<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="author" content="Kevin Min">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		{% feed_meta %}
    {% seo %}
	</head>
	<body>
		<header role="banner" id="header">
			<hgroup>
				<h1>
					<a class="head" href="/">Kevin's Private Studio</a>
				</h1>
			</hgroup>
		</header>
		<div id="page-container">
			{% include navigation.html %}
			<div id="container">
      {{ content }}
			</div><!-- /.container -->
			<footer id="footer">
				<ul>
        		<li><a href="mailto:alsehdcks95@kaist.ac.kr">email</a></li>
        		<li><a href="https://github.com/KevinMIN95/kevinmin95.github.com">github.com/kevinmin95</a></li>
				</ul>
			</footer>
		</div>
	</body>
</html>
